/cachefile
/Emu/*/config/
/Emu/*/ra32.cfg
/Imgs/*/*.png
/RetroArch/.retroarch/saves/*.srm
/RetroArch/.retroarch/states/*.state.*
/RetroArch/content_*.lpl
/Roms/favourite.json
/Roms/recentlist.json
/Roms/*/*_cache2.db
/Roms/*/.*_libretro/
/Roms/*/*.bin
/Roms/*/*.chd
/Roms/*/*.img
/Roms/*/*.lnx
/Roms/*/*.pce
/Roms/*/*.zip
/Roms/GB*/.cfg/
